<?xml version="1.0"?>
<model>
  <name>amr</name>
  <version>1.0</version>
  <sdf version="1.6">amr.sdf</sdf>

  <author>
    <name>Sameer M. Patwardhan</name>
    <email>sampatwardhan1112@gmail.com</email>
  </author>

  <description>
    model of amr with sdf and meshes(stl)
  </description>
</model>
