<?xml version='1.0' encoding='utf-8'?>
<robot name="amr" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Include materials -->
  <xacro:include filename="$(find amr_description)/urdf/materials.xacro"/>

  <!-- Include gazebo -->
  <xacro:include filename="$(find amr_description)/urdf/gazebo.xacro"/>
    
    <link name="base_footprint"/>

    <link name="base_link">
        <inertial>
            <origin xyz="-0.0006885491492564709 0.0 0.027166633468263507" rpy="0.0 0.0 0.0" />
            <mass value="1.3323074595986184" />
            <inertia ixx="0.0006506373798299638" iyy="0.0010832083859234798" izz="0.0015870876476710158" ixy="-1.4279066817834973e-18" iyz="0.0" ixz="1.0665856287759598e-05" />
        </inertial>
        <visual name="base_link_visual">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <mesh filename="file://$(find amr_description)/meshes/base_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="base_link"/>
        </visual>
        <collision name="base_link_collision">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
            <geometry>
                <box size="0.10 0.03 0.010"/>
            </geometry>
        </collision>
    </link>
    <link name="f_wheel_r">
        <inertial>
            <origin xyz="0.0 0.0 0.0075" rpy="0.0 -0.0 0.0" />
            <mass value="0.027390760948486005" />
            <inertia ixx="4.793383165985085e-06" iyy="4.793383165984855e-06" izz="8.559612796401754e-06" ixy="0.0" iyz="0.0" ixz="-6.776263578034403e-21" />
        </inertial>
        <visual name="f_wheel_r_visual">
            <origin xyz="-0.04 -0.025 -0.0425" rpy="-1.5707963267948966 -0.0 0.0" />
            <geometry>
                <mesh filename="file://$(find amr_description)/meshes/f_wheel_r.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="Wheels"/>
        </visual>
        <collision name="f_wheel_r_collision">
            <origin xyz="-0.04 -0.025 -0.0425" rpy="-1.5707963267948966 -0.0 0.0" />
            <geometry>
                <cylinder radius="0.05" length="0.015"/>
            </geometry>
        </collision>
    </link>
    <link name="f_wheel_l">
        <inertial>
            <origin xyz="0.0 0.0 0.0075" rpy="0.0 -0.0 0.0" />
            <mass value="0.027390760948486005" />
            <inertia ixx="4.793383165985099e-06" iyy="4.7933831659848684e-06" izz="8.559612796401754e-06" ixy="0.0" iyz="-6.776263578034403e-21" ixz="-6.776263578034403e-21" />
        </inertial>
        <visual name="f_wheel_l_visual">
            <origin xyz="-0.04 0.025 -0.0425" rpy="1.5707963267948966 -0.0 0.0" />
            <geometry>
                <mesh filename="file://$(find amr_description)/meshes/f_wheel_l.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="Wheels"/>
        </visual>
        <collision name="f_wheel_l_collision">
            <origin xyz="-0.04 0.025 -0.0425" rpy="1.5707963267948966 -0.0 0.0" />
            <geometry>
                <cylinder radius="0.05" length="0.015"/>
            </geometry>
        </collision>
    </link>
    <link name="b_wheel_r">
        <inertial>
            <origin xyz="-8.881784197001253e-18 0.0 0.0075" rpy="0.0 -0.0 0.0" />
            <mass value="0.027390760948486005" />
            <inertia ixx="4.793383165985085e-06" iyy="4.793383165984841e-06" izz="8.559612796401754e-06" ixy="-6.776263578034403e-21" iyz="0.0" ixz="-6.776263578034403e-21" />
        </inertial>
        <visual name="b_wheel_r_visual">
            <origin xyz="0.04 -0.025 -0.0425" rpy="-1.5707963267948966 -0.0 0.0" />
            <geometry>
                <mesh filename="file://$(find amr_description)/meshes/b_wheel_r.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="Wheels"/>
        </visual>
        <collision name="b_wheel_r_collision">
            <origin xyz="0.04 -0.025 -0.0425" rpy="-1.5707963267948966 -0.0 0.0" />
            <geometry>
                <cylinder radius="0.05" length="0.015"/>
            </geometry>
        </collision>
    </link>
    <link name="b_wheel_l">
        <inertial>
            <origin xyz="-8.881784197001253e-18 0.0 0.0075" rpy="0.0 -0.0 0.0" />
            <mass value="0.027390760948486005" />
            <inertia ixx="4.793383165985099e-06" iyy="4.793383165984841e-06" izz="8.559612796401754e-06" ixy="6.776263578034403e-21" iyz="-6.776263578034403e-21" ixz="-1.3552527156068805e-20" />
        </inertial>
        <visual name="b_wheel_l_visual">
            <origin xyz="0.04 0.025 -0.0425" rpy="1.5707963267948966 -0.0 0.0" />
            <geometry>
                <mesh filename="file://$(find amr_description)/meshes/b_wheel_l.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="Wheels"/>
        </visual>
        <collision name="b_wheel_l_collision">
            <origin xyz="0.04 0.025 -0.0425" rpy="1.5707963267948966 -0.0 0.0" />
            <geometry>
                <cylinder radius="0.05" length="0.015"/>
            </geometry>
        </collision>
    </link>

<!-- Camera -->
    <link name="camera_link">
        <inertial>
            <origin xyz="2.1144401675929903e-05 -2.0784716164913716e-18 0.005000000000000009" rpy="0.0 -0.0 0.0" />
            <mass value="0.02186537558266994" />
            <inertia ixx="1.640264964297022e-06" iyy="3.5588437804210445e-07" izz="1.6574154808891354e-06" ixy="2.423405746323952e-19" iyz="-1.3944401189291966e-21" ixz="3.3881317890172014e-21" />
        </inertial>
        <visual name="camera_link_visual">
            <origin xyz="-0.01916700333333333 1.1102230246251566e-18 -0.05" rpy="0.0 -0.0 0.0" />
            <geometry>
                <mesh filename="file://$(find amr_description)/meshes/camera_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="camera_link"/>
        </visual>
        <collision name="camera_link_collision">
            <origin xyz="-0.01916700333333333 1.1102230246251566e-18 -0.05" rpy="0.0 -0.0 0.0" />
            <geometry>
                <box size="0.011 0.030 0.010"/>
            </geometry>
        </collision>
    </link>

<!--Lidar-->
    <link name="lidar_link">
        <inertial>
            <origin xyz="0.0 4.996003610813204e-18 0.003999999999999995" rpy="0.0 -0.0 0.0" />
            <mass value="0.030826877913349836" />
            <inertia ixx="1.368584934028017e-06" iyy="1.3685849340281254e-06" izz="2.4083498369804205e-06" ixy="7.52316384526264e-37" iyz="-1.0458300891968961e-21" ixz="-6.776263578034403e-21" />
        </inertial>
        <visual name="lidar_link_visual">
            <origin xyz="0.0 4.996003610813204e-18 -0.037000000000000005" rpy="0.0 -0.0 0.0" />
            <geometry>
                <mesh filename="file://$(find amr_description)/meshes/lidar_link.stl" scale="0.001 0.001 0.001" />
            </geometry>
            <material name="lidar_link"/>
        </visual>
        <collision name="lidar_link_collision">
            <origin xyz="0.0 4.996003610813204e-18 -0.037000000000000005" rpy="0.0 -0.0 0.0" />
            <geometry>
                <cylinder radius="0.025" length="0.008"/>
            </geometry>
        </collision>
    </link>

<!-- Joints -->

    <joint name="base_footprint_to_base_link" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <parent link="base_footprint" />
        <child link="base_link" />
    </joint>
    <joint name="f_wheel_r_revolute" type="continuous">
        <origin xyz="0.04 -0.0425 0.025" rpy="1.5707963267948966 -0.0 0.0" />
        <parent link="base_link" />
        <child link="f_wheel_r" />
        <axis xyz="0.0 0.0 1.0" />
    </joint>
    <joint name="f_wheel_l_revolute" type="continuous">
        <origin xyz="0.04 0.0425 0.025" rpy="-1.5707963267948966 -0.0 0.0" />
        <parent link="base_link" />
        <child link="f_wheel_l" />
        <axis xyz="0.0 0.0 1.0" />
    </joint>
    <joint name="b_wheel_l_revolute" type="continuous">
        <origin xyz="-0.04 0.0425 0.025" rpy="-1.5707963267948966 -0.0 0.0" />
        <parent link="base_link" />
        <child link="b_wheel_l" />
        <axis xyz="0.0 0.0 1.0" />
    </joint>
    <joint name="b_wheel_r_revolute" type="continuous">
        <origin xyz="-0.04 -0.0425 0.025" rpy="1.5707963267948966 -0.0 0.0" />
        <parent link="base_link" />
        <child link="b_wheel_r" />
        <axis xyz="0.0 0.0 1.0" />
    </joint>
    <joint name="camera_rotation" type="continuous">
        <origin xyz="0.01916667 0.0 0.05" rpy="0.0 -0.0 0.0" />
        <parent link="base_link" />
        <child link="camera_link" />
        <axis xyz="0.0 0.0 1.0" />
    </joint>
    <joint name="lidar_rotation" type="continuous">
        <origin xyz="-0.0275 0.0 0.06" rpy="0.0 -0.0 0.0" />
        <parent link="base_link" />
        <child link="lidar_link" />
        <axis xyz="0.0 0.0 1.0" />
    </joint>

</robot>