<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- ================= BASE LINK ================= -->

    <gazebo reference="base_link">

        <mu1>1.0</mu1>
        <mu2>1.0</mu2>

        <kp>1000000.0</kp>
        <kd>100.0</kd>

    </gazebo>

    <!-- ================= front wheels ================= -->

    <gazebo reference="f_wheel_r">

        <mu1>2.0</mu1>
        <mu2>2.0</mu2>

        <kp>1000000.0</kp>
        <kd>100.0</kd>

        <fdir1>1 0 0</fdir1>

    </gazebo>

    <gazebo reference="f_wheel_l">

        <mu1>2.0</mu1>
        <mu2>2.0</mu2>

        <kp>1000000.0</kp>
        <kd>100.0</kd>

        <fdir1>1 0 0</fdir1>

    </gazebo>

    <!-- ================= back wheels ================= -->

    <gazebo reference="b_wheel_r">

        <mu1>2.0</mu1>
        <mu2>2.0</mu2>

        <kp>1000000.0</kp>
        <kd>100.0</kd>

        <fdir1>1 0 0</fdir1>

    </gazebo>

    <gazebo reference="b_wheel_l">

        <mu1>2.0</mu1>
        <mu2>2.0</mu2>

        <kp>1000000.0</kp>
        <kd>100.0</kd>

        <fdir1>1 0 0</fdir1>

    </gazebo>

    <!-- Camera Sensor Plugin -->
        <gazebo reference="camera_link">
            <sensor name="camera_sensor" type="camera">
                <topic>camera/image</topic>
                <update_rate>30.0</update_rate>
                <camera>
                    <horizontal_fov>1.047</horizontal_fov>
                    <image>
                        <width>640</width>
                        <height>480</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.1</near>
                        <far>100.0</far>
                    </clip>
                </camera>
            </sensor>
        </gazebo>


    <!-- LiDAR Sensor Plugin -->
        <gazebo reference="lidar_link">
            <sensor name="lidar_sensor" type="ray">
                <topic>scan</topic>
                <update_rate>10.0</update_rate>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>720</samples>
                            <resolution>1</resolution>
                            <min_angle>-3.14159</min_angle>
                            <max_angle>3.14159</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>0.12</min>
                        <max>12.0</max>
                        <resolution>0.01</resolution>
                    </range>
                </ray>
            </sensor>
        </gazebo>

    <!-- ================= DIFFERENTIAL DRIVE ================= -->

    <!-- ===================================================== -->
    <!-- ROS2 CONTROL -->
    <!-- ===================================================== -->

    <ros2_control name="GazeboSimSystem" type="system">

        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>

        <!-- Front Right Wheel -->
        <joint name="f_wheel_r_revolute">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <!-- Front Left Wheel -->
        <joint name="f_wheel_l_revolute">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <!-- Back Right Wheel -->
        <joint name="b_wheel_r_revolute">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

        <!-- Back Left Wheel -->
        <joint name="b_wheel_l_revolute">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>

    </ros2_control>


    <!-- ===================================================== -->
    <!-- GAZEBO HARMONIC ROS2 CONTROL PLUGIN -->
    <!-- ===================================================== -->

    <gazebo>

        <plugin
            filename="libgz_ros2_control-system.so"
            name="gz_ros2_control::GazeboSimROS2ControlPlugin">

            <parameters>
                $(find amr_control)/config/controllers.yaml
            </parameters>

        </plugin>

    </gazebo>


</robot>